doctype html
html
	head
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:image" content="")
		
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="")
		meta(name="twitter:title" content="")
		meta(name="twitter:description" content="")
		meta(name="twitter:image" content="")
		
		meta(name="msapplication-config" content="assets/images/shared/favicon/browserconfig.xml")
		link(rel="manifest" href="assets/images/shared/favicon/manifest.json")
		link(rel="shortcut icon" href="assets/images/shared/favicon/favicon.ico")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/images/shared/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/images/shared/favicon/favicon-16x16.png")
		link(rel="apple-touch-icon" sizes="180x180" href="assets/images/shared/favicon/apple-touch-icon.png")
		
		link(rel="stylesheet" href="assets/styles/main.css")
		
		title Index
	body
		script(src="assets/scripts/main.js")
